@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Titillium Web', sans-serif;
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.basketContent {
  background: #fff;
  padding: 12px 12px;
  border-radius: 6px;
  color: #232323;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  cursor: pointer;

  &:hover {
    background: #f2f2f2;
  }
}

.basketIcon {
  background: url('https://cdn2.iconfinder.com/data/icons/e-commerce-glyph-2/614/9_-_Basket-512.png') no-repeat center center;
  width: 40px;
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
}

.basketCount {
  background: #4f4e69;
  color: #fff;
  font-weight: 400;
  position: absolute;
  top: 3px;
  left: 38px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

}


.productList .card {
  .card-body {
    padding-top: 0;
  }

  .card-img-top {
    width: 90%;
    margin: 0 auto;
  }

  .card-title {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 5px;
  }

  p.price {
    font-size: 18px;
    font-weight: 700;
  }
}

.addBasketDiv {
  .inputDiv input {
    width: 50px;
    height: 37px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .inputDiv select {
    width: 50px;
    height: 37px;
    border: 1px solid #ccc;
    background: #fff;
  }
}


.basketRow {
  .card-title {
    font-weight: bold;
    margin: 0 0 10px;
  }

  .card-text.description {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 0.75rem
  }

  .basketPrice {
    font-size: 18px;
    font-weight: bold;
  }

  .removeBasket {
    color: #ff0000;
    cursor: pointer;
    text-decoration: underline;
  }
}


@media (min-width: 320px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .logoContent .lh-100 {
    display: none;
  }
  .basketRow img {
    display: none;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 480px) {
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .logoContent .lh-100 {
    display: flex;
    flex-direction: column;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .basketRow img {
    display: inline-block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
